.container {
    background-color: #F0EFE9;
    height: 100%;
    width: 100%;
    max-width: 700px;
    max-height: 700px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.tasks-container {
    background-color: #fff;
    height: 70%;
    min-width: 300px;
    max-width: 75%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

        &-header {
            align-self: flex-start;
            width: 100%;
            height: 12%;
            position: relative;
            margin-top: 2em;
            margin-bottom: 2em;

            &-date {
                float: left;

                    & .date {
                        font-size: 2em;
                        font-weight: 400;
                        color: #0d0c22;
                    }

                    & .month-year {
                        height: 100%;
                        width: 40px;
                        flex-direction: column;
                        overflow-wrap: break-word;
                        font-size: 13px;
                        line-height: 17px;
                        color: #0d0c22;
                        margin-left: .5rem;

                        & #month {
                            font-weight: bold;
                        }

                        & #year {
                            font-weight: 400;
                        }
                    }   
            }

            &-day {
                float : right;
                line-height: 27px;
            }
        }

        & .tasks {
            position: relative;
            width: 100%;
            min-height: 60%;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-right: 0;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            & .task {
                height: fit-content;
                padding: 0;
                margin: .5em;
                overflow-wrap: break-word;
            }

            & input[type="checkbox"]  {
                right: 10px;
                border-radius: 50%;
                position: absolute;
                cursor: pointer;
                color: #50E3A4;

                &:checked {
                    background-color: #50E3A4;
                }
            }
        }

        & .btn {
            position: relative;
            transition: all .5s;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            & #btn-add {
                position: absolute;
                border-radius: 50%;
                background-color: #50E3A4;
                height: auto;
                cursor: pointer;
                border: none;
                outline: none;
                width: 5em;
                height: 5em;
                bottom: -43px;
            }

            .save {
                position: absolute;
            }

            button#btn-save {
                background-color: #50E3A4;
                border: none;
                font-size: 1.1rem;
                border-radius: 10px;
                padding: 5px;
                outline: none;
                cursor: pointer;
                margin-left: 5px;
            }
        }
}
